/* This is a CSS comment. Notice that CSS comments are
enclosed by different characters than HTML comments. */

/* CSS allows you to give your page style (colors, shapes, fonts, etc.)
You can apply CSS elements to entire HTML classes. Review Lesson 1.3
if you need a refresher about how to do this. */

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1px;
    font-family: Courier New, Courier, monospace;
}

*.Title{
    text-align: center;
    background: #f9efff;
}

*.AboutMe{
    display: flex;
    line-height: 2;
}

*.TextMain{
    background: #e5f5fa;
    text-align: center;
}

/*.Picture, .CenterText, .Picture2 {*/
    /*border: 1px solid;*/
    /*width: 33%;*/
    /*height: 33%;*/
    /*margin-left: 4px;*/
    /*margin-right: 4px;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
/*}*/


*.Picture{
    background: #e5f5fa;
    width: 338px;
    height: 507px;
    float: left;
}

*.Picture2{
    background: #e5f5fa;
    width: 338px;
    height: 507px;
    padding: 0 0 1% 0;
    float: right;

}

*.CenterText{
    text-align: center;
}

*.Info{
    max-width: 100%;
    padding: 0 0 0 1%;
}

*.Interests{
    padding: 1px;
}

*.Music{
    width: 50%;
    line-height: 1.5;
    float: left;
}

*.Art{
    width: 50%;
    line-height: 1.5;
    float: right;
}
/*338x507*/